#train-table th,
td {
  display: inline-block;
  width: 16.575%;
}

body  {
  background: url(../images/trainbackground.jpg);
}

.card {
  opacity: .95;
}

.jumbotron {
  opacity: .95;
  max-height: 200px;
  margin-top: 10px;
}

.top-form {
  margin-bottom: 20px;
}

.btn {
  margin-bottom: 20px;
}

.scores {
  text-align: center;
}

.active-player {
  font-weight: bolder;
}

#player-1-turn{
  font-size: large
}

#player-2-turn{
  font-size: large
}

.p1-score{
font-weight: bold
}

.p2-score{
  font-weight: bold
}
.p2-score-container{
  padding-left:10px;
}